.job
    width: 95%
    margin: 56px auto
    display: flex
    flex-wrap: wrap
    &__subtitle
        font-weight: 700
        font-size: 28px
        line-height: 34px
        letter-spacing: 0.413333px
        color: #3A4562
        border-bottom: .3px solid #d3d3d3
        width: 100%
        margin-bottom: 25px
        padding-bottom: 9px
    &__left
        max-width: 752px
        margin-right: 75px
    &__right
        overflow: hidden
        max-width: 402px
        border-radius: 8px
        position: relative
        &-infocard
            width: 100%
            padding: 30px 63px
            background: #2A3047
            color: #E7EAF0
            &-name
                font-weight: 700
                font-size: 20px
                line-height: 25px
                letter-spacing: -0.625px
                margin-bottom: 8px
            &-address, &-phone, &-email
                font-family: 'Roboto'
                font-weight: 400
                font-size: 18px
                line-height: 24px
                letter-spacing: -0.5625px
                color: #E8EBF3
                font-stretch: 100
            &-address
                margin-bottom: 8px
                span
                    margin-left: 11px
    &__top
        display: flex
        flex-wrap: wrap
        align-items: center
        border-bottom: .3px solid #d3d3d3
        margin-bottom: 50px
        &-title
            margin-right: 308px
            font-weight: 700
            font-size: 28px
            line-height: 34px
            letter-spacing: 0.413333px
            color: #3A4562
        &-iconText
            font-family: 'Roboto'
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 24px
            letter-spacing: -0.5625px
            color: #3A4562
            font-stretch: 100
            &-save
                margin-right: 31px
                margin-left: 10px
            &-share
                margin-left: 10px
        &-btn
            margin-bottom: 32px
    &__title-box
        display: flex
        flex-wrap: wrap
        row-gap: 15px
        margin-bottom: 7px
        color: #3A4562
        &-left
            max-width: 501px
            font-style: normal
            font-weight: 700
            font-size: 24px
            line-height: 30px
            letter-spacing: -0.75px
            margin-right: 60px
        &-right
            font-size: 18px
            line-height: 24px
            letter-spacing: -0.5625px
            font-stretch: 100
            :first-child
                font-weight: 700
                font-size: 20px
                line-height: 25px
                letter-spacing: -0.625px
    &__date
        font-family: 'Roboto'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 24px
        letter-spacing: -0.5625px
        color: rgba(56, 65, 93, 0.355988)
        font-stretch: 100
        margin-bottom: 7px
    &__description
        font-family: 'Roboto'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 24px
        letter-spacing: -0.5625px
        color: #3A4562
        font-stretch: 100
        margin-bottom: 32px
        &-start
            margin-bottom: 30px
        &-responsibilities, &-compensation
            margin-bottom: 30px
            span
                font-weight: 700
                display: inline-block
                margin-bottom: 7px
    &__bottom
        &-btn
            margin-bottom: 86px
    &__sectionHeading
        font-family: 'Roboto'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 24px
        letter-spacing: -0.5625px
        color: #3A4562
        font-stretch: 100
        margin-bottom: 10px
    &__types
        display: flex
        flex-wrap: wrap
        row-gap: 8px
        column-gap: 8px
        margin-bottom: 23px
        li button
            width: 222px
            height: 49px
            display: flex
            justify-content: center
            align-items: center
            background: rgba(161, 177, 219, 0.317343)
            border: 1px solid rgba(85, 105, 158, 0.3)
            border-radius: 8px
            font-weight: 700
            font-size: 16px
            line-height: 16px
            text-align: center
            letter-spacing: -0.457143px
            color: #55699E
        &-benefits
            margin-bottom: 87px
            li button
                background: rgba(255, 207, 0, 0.15)
                border: 1px solid #FFCF00
                color: #988B49
.loading
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
// map
.map
    width: 100%
    position: absolute
    top: 170px
    left: 0
    border-radius: 0px 0px 8px 8px
    height: 180px
    // height: 300px
    overflow: hidden
.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right
    display: none
.contacts
    display: none
.fake
    width: 273px
    height: 273px
    border-radius: 100%
    margin-top: -220px
    margin-left: -80px
    background: #202336

@media (max-width: 2561px)
    .job
        width: 100%
        justify-content: center
    .job__left
        max-width: 721px
        margin-right: 115px
@media (max-width: 2000px)
    .btn__return
        margin-left: 13%
@media (max-width: 1700px)
    .btn__return
        margin-left: 1%
@media (max-width: 1200px)
    .job
        justify-content: space-between
        width: 100%
        margin: 25px auto
        padding: 15px
        &__left
            margin-right: 0
            display: flex
            flex-direction: column
        &__right
            &-infocard
                height: 350px
                border-radius: 8px
        &__top
            border: none
            margin-bottom: 30px
            &-title
                display: block
                width: 100%
                margin: 0
                padding-bottom: 12px
                border-bottom: 0.3px solid #d3d3d3
                margin-bottom: 24px
            &-iconText
                font-size: 16px
            &-btn
                display: none
        &__date
            font-size: 13px
            margin-top: -38px
            margin-bottom: 26px
    .job__title-box-left
        margin-right: 0
    .job__title-box-right
        width: 100%
        text-align: right
        display: flex
        flex-direction: column
        :first-child
            order: 2
    .fake
        display: none
    .job__bottom-btn
        margin-bottom: 135px
        margin-left: 50%
        transform: translate(-50%)
    .additional
        order: 2
    .attached
        order: 1
        margin-bottom: 55px
        &-photo
            width: 150px
    .job__types-images
        justify-content: center
    .job__types li button
        width: 120px
    .btn__return
        display: none
@media (max-width: 1107px)
    .job
        justify-content: center
    .contacts
        display: block
        order: 3
