.btn
    padding: 18px 30px
    background: #384564
    border-radius: 8px
    color: #FFFFFF
    font-weight: 600
    font-size: 12px
    line-height: 16px
    text-align: center
    text-transform: uppercase
    border: none
    &__return
        width: 213px
        height: 50px
        display: flex
        justify-content: center
        align-items: center
        background: #cfd1d4
        border-radius: 8px
        font-weight: 600
        font-size: 12px
        line-height: 16px
        text-transform: uppercase
        color: #3A4562
        border: none
        margin-left: -50px
        &-caret
            margin-right: 20px
